force-app/main/default/flows/Check_control_alarma.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Actividad_sospechosa</name>
        <label>Actividad sospechosa</label>
        <locationX>843</locationX>
        <locationY>903</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Se detecto actividad sospechosa. Ingrese a Salesforce para mas informacion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kruk.matias@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Alarmforce: Atencion</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Asigno_valor_de_la_ultima_alarma</name>
        <label>Asigno valor de la ultima alarma</label>
        <locationX>611</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>Fecha_ultima_alarma</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ultima_Alarma.Datetime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sensores_entre_Record_y_la_ultima_alarma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_registro_de_alarma</name>
        <label>Crear registro de alarma</label>
        <locationX>1005</locationX>
        <locationY>1088</locationY>
        <assignmentItems>
            <assignToReference>Ultima_alarma.Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_time_value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creacion_de_ultima_alarma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cuenta_de_sensores</name>
        <label>Cuenta de sensores</label>
        <locationX>758</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>contador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conteo_de_elementos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cuenta_de_sensores_0</name>
        <label>Cuenta de sensores</label>
        <locationX>1349</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>contador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conteo_de_sensores</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cuantos_elementos_se_encontraron</name>
        <label>Cuantos elementos se encontraron</label>
        <locationX>1369</locationX>
        <locationY>835</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_mas_de_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contador</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_registro_de_alarma</targetReference>
            </connector>
            <label>Hay mas de 5?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delta_300</name>
        <label>Delta &lt; 300</label>
        <locationX>935</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Conteo_de_elementos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_menor_a_300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conteo_de_elementos.delta__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_de_sensores</targetReference>
            </connector>
            <label>Es menor a 300?</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_hay_alarma</name>
        <label>No hay alarma</label>
        <locationX>879</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Asigno_valor_de_la_ultima_alarma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_hay_alarma_disparada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ultima_Alarma</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sensores_entre_Record_y_la_ultima_alarma_0</targetReference>
            </connector>
            <label>No hay alarma</label>
        </rules>
    </decisions>
    <formulas>
        <name>Inc</name>
        <dataType>Number</dataType>
        <expression>{!contador}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Check control alarma {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check control alarma</label>
    <loops>
        <name>Conteo_de_elementos</name>
        <label>Conteo de elementos</label>
        <locationX>411</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Sensores_entre_Record_y_la_ultima_alarma</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delta_300</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cuantos_elementos_se_encontraron</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Conteo_de_sensores</name>
        <label>Conteo de elementos</label>
        <locationX>1075</locationX>
        <locationY>489</locationY>
        <collectionReference>Get_Sensores_entre_Record_y_la_ultima_alarma_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cuenta_de_sensores_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cuantos_elementos_se_encontraron</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creacion_de_ultima_alarma</name>
        <label>Creacion de ultima alarma</label>
        <locationX>474</locationX>
        <locationY>1111</locationY>
        <connector>
            <targetReference>Actividad_sospechosa</targetReference>
        </connector>
        <inputReference>Ultima_alarma</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sensores_entre_Record_y_la_ultima_alarma</name>
        <label>Get Sensores entre $Record y la ultima alarma</label>
        <locationX>598</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conteo_de_elementos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_time_value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Fecha_ultima_alarma</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_time_value__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Date_time_value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sensor__c</object>
        <sortField>Date_time_value__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sensores_entre_Record_y_la_ultima_alarma_0</name>
        <label>Get Sensores entre $Record y la ultima alarma</label>
        <locationX>1075</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conteo_de_sensores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>delta__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sensor__c</object>
        <sortField>Date_time_value__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ultima_Alarma</name>
        <label>Get Ultima Alarma</label>
        <locationX>610</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_hay_alarma</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alarma__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Ultima_Alarma</targetReference>
        </connector>
        <object>Sensor__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Fecha_ultima_alarma</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Date_time_value__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Ultima_alarma</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alarma__c</objectType>
    </variables>
</Flow>
