force-app/main/default/flows/Retrieve_from_thingspeak.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_feeds</name>
        <label>get feeds</label>
        <locationX>1276</locationX>
        <locationY>120</locationY>
        <actionName>GetFeed.ChannelsFeedsJson_GET</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>feeds_assignment</targetReference>
        </connector>
        <inputParameters>
            <name>api_key</name>
            <value>
                <stringValue>18YFIXSCYYK95BTO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channel_id</name>
            <value>
                <stringValue>1299306</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>get_feeds_return</assignToReference>
            <name>200</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Last_Data_age</name>
        <label>Get Last Data age</label>
        <locationX>444</locationX>
        <locationY>356</locationY>
        <actionName>LASTDATAAGE.getChannelsFieldsLast_data_agex2ejsonByChannel_idAndField_id</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Get_the_last_sensor_record</targetReference>
        </connector>
        <inputParameters>
            <name>api_key</name>
            <value>
                <stringValue>18YFIXSCYYK95BTO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channel_id</name>
            <value>
                <stringValue>1299306</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>field_id</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>last_data_age</assignToReference>
            <name>200</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assign_a_feed</name>
        <label>assign a feed</label>
        <locationX>1268</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>sensor.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>feeds_elements.createdx5fat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sensor.external_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>feeds_elements.entryx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sensor.value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>feeds_elements.field1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sensor.channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_feeds_return.channel.name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_external_id_is_not_the_latest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sensor_to_list</name>
        <label>Assign sensor to list</label>
        <locationX>1343</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>Sensors_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sensor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>feeds_elements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_the_sensor_record_date_in_seconds_based_on_the_current_date</name>
        <label>Convert the sensor record date in seconds based on the current date</label>
        <locationX>951</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>Lastelementretrievedinseconds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latestsensor.delta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Data_Age_min_delta_Execute_integration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>feeds_assignment</name>
        <label>feeds_assignment</label>
        <locationX>1469</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>feeds_values</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_feeds_return.feeds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>feeds_elements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_external_id_is_not_the_latest</name>
        <label>Check external id is not the latest</label>
        <locationX>1057</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>feeds_elements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_the_sensor_external_id_is_greater_than_the_latest_stored</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sensor.external_id__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Latestsensor.external_id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sensor_to_list</targetReference>
            </connector>
            <label>check the sensor external id is greater than the latest stored</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Data_Age_min_delta_Execute_integration</name>
        <label>If Data Age &lt; min delta =&gt; Execute integration</label>
        <locationX>1088</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Data_Age_min_delta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lastdataageadjustment</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Lastelementretrievedinseconds</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lastelementretrievedinseconds</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>get_feeds</targetReference>
            </connector>
            <label>If Data Age &lt; min delta</label>
        </rules>
    </decisions>
    <formulas>
        <name>assignvalueinseconds</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!Latestsensor.Date_time_value__c})*86400</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Lastdataageadjustment</name>
        <dataType>Number</dataType>
        <expression>{!last_data_age.lastx5fdatax5fage} + 30</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Retrieve from thingspeak {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve from thingspeak</label>
    <loops>
        <name>feeds_elements</name>
        <label>iteration through elements</label>
        <locationX>1612</locationX>
        <locationY>373</locationY>
        <collectionReference>feeds_values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_a_feed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_sensors_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_sensors_values</name>
        <label>Insert sensors values</label>
        <locationX>1602</locationX>
        <locationY>550</locationY>
        <inputReference>Sensors_list</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_the_last_sensor_record</name>
        <label>Get the last sensor record</label>
        <locationX>773</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_the_sensor_record_date_in_seconds_based_on_the_current_date</targetReference>
        </connector>
        <object>Sensor__c</object>
        <outputReference>Latestsensor</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>delta__c</queriedFields>
        <queriedFields>external_id__c</queriedFields>
        <sortField>delta__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>51</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Get_Last_Data_age</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>feeds_elements.createdx5fat</elementReference>
        </value>
    </variables>
    <variables>
        <name>datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feeds_values</name>
        <apexClass>ExternalService__GetFeed_Feeds</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>get_feeds_return</name>
        <apexClass>ExternalService__GetFeed_Model0</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>last_data_age</name>
        <apexClass>ExternalService__LASTDATAAGE_Model0</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lastelementretrievedinseconds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Latestsensor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sensor__c</objectType>
    </variables>
    <variables>
        <name>sensor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sensor__c</objectType>
    </variables>
    <variables>
        <name>Sensors_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sensor__c</objectType>
    </variables>
    <variables>
        <name>value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>feeds_elements.field1</elementReference>
        </value>
    </variables>
</Flow>
